body {
    background-color: #3d3d3d;
}

.wrapper {
    max-width: 80%;
    margin: 2em auto;
}

.slider_wrapper {
    border-radius: 20px;
}

input {
    display: none;
}

.inner {
    border-radius: 20px;
    width: 500%;
    line-height: 0;
}


article {
    border-radius: 20px;
    width: 20%;
    float: left;
}

article img {
    width: 100%;
    height: 70vw;
}

article h3 {
    font-size: 24px;
    color: #03b37e;
}

.slider_dot {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    text-align: center;
    transform: translateY( -32px);
}

.slider_dot label {
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0);
    transition: all .3s;
}

.slider_dot label:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.point {
    margin: 8px 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #2d6db6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-checked {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.slider_wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgb(32, 32, 32);
    transition: all .5s ease-out;
}

.sign {
    box-shadow: none;

}

.inner-sign article {
    pointer-events: none;
}

.slider_wrapper .inner {
    transition: all .8s cubic-bezier(.77, 0, .175, 1);
}


#slide1:checked~.slider_dot label:nth-child(1) .point-checked, #slide2:checked~.slider_dot label:nth-child(2) .point-checked, #slide3:checked~.slider_dot label:nth-child(3) .point-checked, #slide4:checked~.slider_dot label:nth-child(4) .point-checked {
    background-color: #3d3d3d;
}

#slide2:checked~.slider_wrapper .inner {
    margin-left: -100%
}
#slide3:checked~.slider_wrapper .inner {
    margin-left: -200%
}
#slide4:checked~.slider_wrapper .inner {
    margin-left: -300%
}
#slide5:checked~.slider_wrapper .inner {
    margin-left: -400%
}

